:host {
    display: none;
    font-size: medium;
}

slot {
    color: white;
}

svg {
  width: 100%;
  background-color: #46B69A;
}

.st0{fill:none;stroke:#1B1464;stroke-miterlimit:10;}
.st1{fill:none;stroke:#1B1464;stroke-linecap:round;stroke-miterlimit:10;}